@font-face {
  font-family: "Rubik";
  src: url(../font/rubik/Rubik-VariableFont_wght.ttf);
  font-weight: 300 900;
  font-style: normal;
}

@font-face {
  font-family: "Rubik Italic";
  src: url(../font/rubik/Rubik-Italic-VariableFont_wght.ttf);
  font-weight: 300 900;
  font-style: italic;
}
@font-face {
  font-family: "DM Sans";
  src: url(../font/dm-sans/DMSans-VariableFont_opsz\,wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans Italic";
  src: url(../font/dm-sans/DMSans-Italic-VariableFont_opsz\,wght.ttf);
  font-weight: 100 900;
  font-style: italic;
}
$lightwght: 300;
$regularwght: 400;
$boldwght: 700;
$xtraboldwght: 900;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 18px;
  font-weight: $regularwght;
  font-family: "DM Sans", Arial, sans-serif;
  color: #f3f4f6;
}

h1 {
  font-size: 6.86rem;
}
h2 {
  font-size: 4.24rem;
}
h3 {
  font-size: 2.62rem;
}
h4 {
  font-size: 1.62rem;
}
h5 {
  font-size: 0.62rem;
}

body {
  background-color: black;
  display: block;
}

// MIXINS --------
@mixin center-div {
  // border: 1px solid white;
  display: block;
  margin: 0 auto;
  padding: 1rem 1rem;
}

@mixin header-format {
  margin: 0 auto;
  font-weight: $boldwght;
}

// NAV SECTION -------
.nav {
  @include center-div();
  z-index: 1;
  height: max-content;
  width: 100%;
  background-color: black;
}

.navlinks {
  list-style-type: none;
  display: none;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;

  li {
    margin-right: 3rem;

    a {
      text-decoration: none;
      color: white;
      font-weight: $lightwght;
      position: relative;
      padding: 4px 0;
    }
    &:last-of-type {
      margin-right: 0;
    }

    a:is(:link, :active, :visited).active {
      &:before {
        content: "";
        position: absolute;
        display: block;
        background-color: white;

        width: 110%;
        height: 2px;
        bottom: 0;
        left: -5%;
      }
    }
  }
}

// HOME SECTION ------
.home {
  @include center-div();
  max-width: 40rem;
  margin-top: 2rem;  
}
.intromsg {
  display: block;
  width: 100%;
  user-select: none;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
  h4 {
    font-family: "Rubik", Helvetica, sans-serif;
    font-weight: 300;
    padding-left: 0.2rem;
  }
  h3 {
    font-family: "Rubik", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 2.42rem;
  }
  p {
    margin-top: 1rem;
    font-weight: 300;
  }
}
.frontend {
  margin: 2rem 0;
  h4 {
    font-family: "Rubik", Helvetica, sans-serif;
    font-weight: 700;
    margin: 1rem 0;
  }
  .fe-showcase-container {
    display: block;
    width: 100%;
    aspect-ratio: 2 / 1;
    border: 1px solid rgba($color: #ffffff, $alpha: 0);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;

    .fe-showcase-img {
      width: inherit;
      scale: 1;
      transition: ease-in-out 0.5s;
    }

    &:hover {
      .fe-showcase-img {
        transform: scale(1.1);
      }
    }
  }

  .fe-showcase-label {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 6rem;
    border: 1px solid rgba($color: #000000, $alpha: 0);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: rgb(10, 10, 10);
    padding: 1rem;
    h4 {
      width: 100%;
      margin: 0;
      color: rgba($color: #ffffff, $alpha: 0.7)
    }
    p {
      width: 100%;
      color: rgba($color: #ffffff, $alpha: 0.5)
    }
  }
}

// UIUX SECTION ------
.uix {
  @include center-div();

  .uix-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      max-width: 90%;
      height: auto;
      border-radius: 18px;
      margin-top: 2rem;
      transition: all 0.5s;

      &:last-of-type {
        margin-bottom: 2rem;
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

//GRAPHIC DESIGN SECTION ------

.graphicdesign {
  @include center-div();
}

//MEDIA QUERY ------ RESPONSIVE SCREEN
@media only screen and (min-width: 768px) {
  .navlinks {
    display: flex;
  }

  .uix-content {
    img {
      max-width: 60%;
    }
  }
}
