@font-face {
  font-family: "Rubik";
  src: url(../font/rubik/Rubik-VariableFont_wght.ttf);
  font-weight: 300 900;
  font-style: normal;
}

@font-face {
  font-family: "Rubik Italic";
  src: url(../font/rubik/Rubik-Italic-VariableFont_wght.ttf);
  font-weight: 300 900;
  font-style: italic;
}
@font-face {
  font-family: "DM Sans";
  src: url(../font/dm-sans/DMSans-VariableFont_opsz\,wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans Italic";
  src: url(../font/dm-sans/DMSans-Italic-VariableFont_opsz\,wght.ttf);
  font-weight: 100 900;
  font-style: italic;
}
$lightwght: 300;
$regularwght: 400;
$boldwght: 700;
$xtraboldwght: 900;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 18px;
  font-weight: $regularwght;
  font-family: "DM Sans", Arial, sans-serif;
  color: #f3f4f6;
}

h1 {
  font-size: 6.86rem;
}
h2 {
  font-size: 4.24rem;
}
h3 {
  font-size: 2.62rem;
}
h4 {
  font-size: 1.62rem;
}
h5 {
  font-size: 0.62rem;
}

body {
  background-color: black;
  display: block;
}

// MIXINS --------
@mixin center-div {
  // border: 1px solid white;
  display: block;
  margin: 0 auto;
  padding: 1rem 1rem;
}

@mixin header-format {
  margin: 0 auto;
  font-weight: $boldwght;
}

@mixin h4-format {
  h4 {
    font-family: "Rubik", Helvetica, sans-serif;
    font-weight: 700;
    margin: 1rem 0;
    display: block;
    width: 100%;
  }
}

@mixin label-format {
  h4 {
    font-size: 1rem;
    width: 100%;
    margin: 0;
    color: rgba($color: #ffffff, $alpha: 0.7);
  }
  p {
    width: 100%;
    color: rgba($color: #ffffff, $alpha: 0.5);
    padding-top: 0.4rem;
  }
}

// NAV SECTION -------
.nav {
  @include center-div();
  z-index: 1;
  height: max-content;
  max-width: 40rem;
  background-color: black;
}

.navlinks {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  li {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;
    padding: 0.2rem 0;
    width: 100%;
    a {
      text-decoration: none;
      color: white;
      font-weight: $lightwght;
      position: relative;
    }

    a:is(:link, :active, :visited).active {
      &:before {
        content: "";
        position: absolute;
        display: block;
        background-color: white;

        width: 110%;
        height: 2px;
        bottom: -2px;
        left: -5%;
      }
    }
  }

  .nav-dropdown {
    border: 1px solid white;
    border-radius: 4px;
    display: none;
    padding: 0.5rem;
    list-style-type: none;
    position: absolute;
    width: max-content;
    height: max-content;
    left: 5rem;
    top: -0.5rem;
    li {
      margin-right: 0rem;
      color: white;
      opacity: 0.5;
    }
  }

  .active-dropdown {
    display: block;
  
    li {
      &:hover {
        opacity: 1;
      }
    }
  }
}

// HOME SECTION ------
.home {
  @include center-div();
  max-width: 40rem;
  margin-top: 2rem;  
}
.intromsg {
  display: block;
  width: 100%;
  user-select: none;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
  h4 {
    font-family: "Rubik", Helvetica, sans-serif;
    font-weight: 300;
    padding-left: 0.2rem;
  }
  h3 {
    font-family: "Rubik", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 2.42rem;
  }
  p {
    margin-top: 1rem;
    font-weight: 300;
  }
}
.frontend {
  margin: 2rem 0;
  @include h4-format();
  .fe-showcase-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    overflow: hidden;
    .fe-showcase-img {
      display: flex;
      height: 75%;
      overflow: hidden;
      transition: height 0.5s ease-in-out;
      img {
        width: 100%;
        align-self: center;
      }
    }
  
    .fe-showcase-label {
      // display: flex;
      width: 100%;
      height: 25%;
      background-color: rgb(16, 16, 16);
      padding: 1rem;
      @include label-format();
      transition: height 0.5s ease-in-out;
      overflow: hidden;

      .fe-tech-stack {
        list-style-type: none;
        display: flex;
        // position: absolute;
        margin-top: 1.5rem;
        // background-color: blue;
        width: 100%;
        height: 4rem;
        flex-wrap: wrap;

        li {
          display: flex;
          margin-right: 1.5rem;
          width: max-content;
        }
        @mixin icon-format {
          height: 1.5rem;
          margin-right: 0.5rem;
          
        }
        .html-stack {
          content: url(../ico/html5.svg);
          @include icon-format();
        }

        .css-stack {
          content: url(../ico/css3.svg);
          @include icon-format();
        }

        .js-stack {
          content: url(../ico/javascript.svg);
          @include icon-format();
        }
        .git-stack {
          content: url(../ico/git.svg);
          @include icon-format();
        }
      }
    }
  }
}

.creative {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include h4-format();

  .creative-works {
    display: block;
    width: 48%;
    margin: 1% 0;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    overflow: hidden;
    // border: 1px solid white;
    .cw-img {
      // border-bottom: 1px solid white;
      height: 75%;
      overflow: hidden;
      img {
        width: 100%;
        transition: transform 0.5s ease-in-out;
      }
    }
    .cw-label {
      @include label-format();
      padding: 0.75rem;
      background-color: rgb(16, 16, 16);
    }
    &:hover {
      .cw-img {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}


//MEDIA QUERY ------ RESPONSIVE SCREEN FOR NON-MOBILE
@media only screen and (min-width: 600px) {

  .navlinks {
    justify-self: flex-end;
    li {
      width: fit-content;
      justify-content: center;
      margin-right: 3rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
    .nav-dropdown {
      top: 1.75rem;
      left: -0.5rem;
    }
  }



  .frontend {
    .fe-showcase-container {
      aspect-ratio: 16 / 9;

      .fe-showcase-label {
        .fe-tech-stack {
          li {
            width: max-content;
          }
        }
      }

      &:hover {
        .fe-showcase-img {
          height: 60%;
        }

        .fe-showcase-label {
          height: 40%;
          overflow: visible;
        }
      }
    }
  }

  .uix-content {
    img {
      max-width: 60%;
    }
  }
}